.sectionTitle {
  font-size: 42px;
  font-weight: bold;
  padding-bottom: 1rem;
  color: #4f4f4f;
  text-align: center;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
